* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: black;
}

body {
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
